* {
  margin: 0px;
}

/* maakt de margin van alles 0px */

body {
  background-color: black;
}

#wrapper {
  width: 800px;
  margin: auto;
  background-color: cadetblue;
}

nav {
  width: 800px;
  height: 50px;
  background-color: #be8b1e;
  background-image: radial-gradient(#966e17, #966e17, #FDB825);
}

.button {
  width: 120px;
  margin: 5px 5px;
  padding: 5px 20px;
  background-color: #9D511A;
  text-align: center;
  color: #9c9c9c;
  text-decoration: none;
  border: none;
  display: inline-block;
  font-size: 16px;
  font-family: serif;
  border-radius: 8px;
  border: #9D511A;
  transition-duration: 0.2s;
  box-shadow: 0 9px #545454;
}

.button:hover {
  background-color: black;
  color: #990000;
}

.button:active  {
  background-color: black;
  box-shadow: 0 5px #333333;
  transform: translateY(4px);
  color: #990000;
}


#home   {
  width: 800px;
  background-color: #9D511A;
}

#home h1  {
  font-family: serif;
  font-size: 40px;
  color: black;
}

#home h2  {
  font-family: serif;
  font-size: 30px;
  color: #990000;
}

#home #bigimage {
  width: 750px;
  height: 450px;
  margin: 5px 25px;
}